<div class="container" >
  <mat-card class="user" style="margin-left: auto; margin-right: auto">

    <div class="image-container" (click)="openGallery('ProfileImg')">
      <img class="image" *ngIf="image !== ''" [src]=image >
    </div>
    <mat-progress-bar *ngIf="status == true" mode="indeterminate"></mat-progress-bar>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Url of the image" formControlName="photoUrl" id="photoUrl">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="firstName" id="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName" id="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" id="email" />
        <mat-error
          *ngIf="!profileForm.get('email').hasError('required') && profileForm.get('email').hasError('invalidEmail')">
          Email must contain <strong>@itesm.mx or @tec.mx</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Phone number" formControlName="cellPhone" id="cellPhone">
      </mat-form-field>
      <button type="submit" mat-raised-button style="background-color: #00C4CC; color: white; font-size: 20px;">Save changes</button>
    </form>
  </mat-card>
</div>

<input #fileUpload type="file" class="file_upload" accept="image/png, image/jpeg"
  (change)="addToDocument($event.target.files)" />