<mat-card class="form-container">
  <a [routerLink]="['/']">
    <img src="../../../assets/logo_quarantime.png" alt="logo" class="logo">
  </a>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="firstName" id="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" id="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" id="email" />
      <mat-error *ngIf="!signupForm.get('email').hasError('required') && signupForm.get('email').hasError('invalidEmail')">
       The email must contain <strong>@itesm.mx or @tec.mx</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password" id="password">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Repeat password" formControlName="password2" id="password2">
    </mat-form-field>
    <button type="submit" mat-raised-button style="font-size: 20px;">Create account</button>
    <a mat-button color="primary" class="auth-change" color="accent" [routerLink]="['/login']">Already have an account? Log in</a>
  </form>
</mat-card>
