<mat-card class="form-container">
  <a [routerLink]="['/']">
    <img src="../../../assets/logo_quarantime.png" alt="logo" class="logo">
  </a>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="firstName" id="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido" formControlName="lastName" id="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Correo electrónico" formControlName="email" id="email" />
      <mat-error *ngIf="!signupForm.get('email').hasError('required') && signupForm.get('email').hasError('invalidEmail')">
        El email debe contener <strong>@itesm.mx o @tec.mx</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Contraseña" formControlName="password" id="password">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Repita la contraseña" formControlName="password2" id="password2">
    </mat-form-field>
    <button type="submit" mat-raised-button>Crear cuenta</button>
    <a mat-button color="primary" class="auth-change" color="accent" [routerLink]="['/login']">¿Ya tienes cuenta? Inicia sesión</a>
  </form>
</mat-card>
