.container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
    gap: 1rem 1rem;
    padding: 30px;
  }
  
  .container:first-child {
    margin-left: 0;
  }
  
  .product {
    min-width: 300px;
    max-width: 1fr;
  }
  