<mat-grid-list cols="4" rows="3" style="margin: 15px 50px" gutterSize="10px" rowHeight="100px"
  *ngIf="product$ | async; let product">
  <mat-grid-tile [colspan]="4" [rowspan]="4">
    <img src="{{product.image}}" alt="Photo of a Shiba Inu">
  </mat-grid-tile>
  <div layout="row" layout-align="center center">

    <mat-grid-tile [colspan]="3" [rowspan]="4">
      <div class="header" style="margin-top: 10px;">
        <h1 style="text-align: center;">{{product.name}}</h1>
        <p style="color: black;">{{product.description}}</p>
        <mat-card-actions>
          <button  style="background-color: #dfdddd;" mat-button  [@fadeIn]   (click)="setAsFavorite(product.favorite, i)"><span *ngIf="product.favorite == true">In favorites</span><span *ngIf="product.favorite != true">Add to favorites</span></button>
        </mat-card-actions>
        <button style="background-color: #00C4CC; color: white;" mat-button class="example-full-width"  (click)="goToPage('chats', product.owner)">Chat</button>
      </div>
    </mat-grid-tile>
   
  </div>
</mat-grid-list>
<div class="title">
    <h1>Other Posts</h1>
    <mat-divider></mat-divider>
</div>

<product-list (data)="goToPage('products', $event)"></product-list>