<mat-card class="form-container">
<a [routerLink]="['/']">
  <img src="../../../assets/logo_quarantime.png" alt="logo" class="logo">
</a>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Correo Electrónico"
        formControlName="email"
        id="email"
      >
      <mat-error *ngIf="!authForm.get('email').hasError('required') && authForm.get('email').hasError('invalidEmail')">
        El email debe contener <strong>@itesm.mx o @tec.mx</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Contraseña"
        formControlName="password"
        id="password"
      >
    </mat-form-field>
    <button type=submit mat-raised-button>Iniciar Sesión</button>
    <a mat-button color="primary" class="auth-change" color="accent" [routerLink]="['/signup']">¿No tienes cuenta? Regístrate</a>
  </form>
</mat-card>
