<mat-card class="form-container">
<a [routerLink]="['/']">
  <img src="../../../assets/logo_quarantime.png" alt="logo" class="logo">
</a>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        id="email"
      >
      <mat-error *ngIf="!authForm.get('email').hasError('required') && authForm.get('email').hasError('invalidEmail')">
        Email must contain <strong>@itesm.mx or @tec.mx</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        id="password"
      >
    </mat-form-field>
    <button type=submit mat-raised-button>Login</button>
    <a mat-button color="primary" class="auth-change" color="accent" [routerLink]="['/signup']">Don't have an account? Register now!</a>
  </form>
</mat-card>
