<mat-toolbar class="fix">
  <a [routerLink]="['/home']">
    <img src="../assets/inline_logo.png" class="logo" alt="Logo">
  </a>
  <span style="flex: 1 1 auto;"></span>

  <button mat-button *ngIf="!authService.isLoggedIn" [routerLink]="['']" style="color: white;">
    
    <mat-icon class="icon" style="color: white;">account_circle</mat-icon>
  </button>

  <div *ngIf="authService.isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menu" style="color:white">
      {{ authService.displayName }}
      <mat-icon class="icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item disabled>
        Welcome
      </button>
      <button mat-menu-item [routerLink]="['/user/', userId]">
        My profile
      </button>
      <button mat-menu-item [routerLink]="['/chats']">
        Conversations
      </button>
      <button mat-menu-item (click)="logOut()">
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<button *ngIf="authService.isLoggedIn && !router.url.includes('products/add')" mat-fab class="add-item" [routerLink]="['/products/add']" color="accent">
  <mat-icon class="library_add fab-icon">library_add</mat-icon>
</button>
