.logo {
  width: 200px;
}

.icon {
  margin-left: 5px;
}

.fix {
  position: sticky;
  top: 0;
  z-index: 5000;
}

.add-item {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 26px;
}

.fab-icon {
  margin-bottom: auto;
  margin-top: auto;
  display: block;
}
