<mat-toolbar color="primary">
  <span [routerLink]="['/']">
  <img src="../assets/logo-white.png" class="logo" alt="Logo"></span>
  <span style="flex: 1 1 auto;"></span>
  <mat-icon *ngIf="!isLoggedIn" [routerLink]="['/login']">account_circle</mat-icon>

  <div *ngIf="isLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        {{ fullName() }}
      </button>
      <button mat-menu-item (click)="logout()">
        Cerrar sesión
      </button>
    </mat-menu>
  </div>


</mat-toolbar>
<router-outlet></router-outlet>
