<mat-toolbar class="fix" color="primary">
  <a [routerLink]="['/']">
    <img src="../assets/logo-white.png" class="logo" alt="Logo">
  </a>
  <span style="flex: 1 1 auto;"></span>

  <button mat-button *ngIf="!authService.isLoggedIn" [routerLink]="['/login']">
    Login
    <mat-icon class="icon">account_circle</mat-icon>
  </button>

  <div *ngIf="authService.isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ authService.displayName }}
      <mat-icon class="icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item disabled>
        Bienvenido
      </button>
      <button mat-menu-item [routerLink]="['/user/', userId]">
        Mi perfil
      </button>
      <button mat-menu-item [routerLink]="['/chats']">
        Conversaciones
      </button>
      <button mat-menu-item (click)="logOut()">
        Cerrar sesión
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<button *ngIf="authService.isLoggedIn && !router.url.includes('products/add')" mat-fab class="add-item" [routerLink]="['/products/add']" color="accent">
  <mat-icon class="add fab-icon">add</mat-icon>
</button>
