<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidebar" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        Ernesto García
      </mat-list-item>
      <mat-list-item>
        Ernesto García
      </mat-list-item>
      <mat-list-item>
        Ernesto García
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-list>
    <mat-list-item class="message">
      <div class="left message-data">
        Mensaje 1
      </div>
    </mat-list-item>
    <mat-list-item class="message right">
      <div class="right message-data">
        Mensaje 2
      </div>
    </mat-list-item>
    <mat-list-item class="message">
      <div class="left message-data">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </mat-list-item>
  </mat-list>
  <mat-card class="message-input-container">
    <mat-form-field class="message-input">
      <input matInput>
    </mat-form-field>
    <button mat-flat-button color="primary">Enviar</button>
  </mat-card>
</mat-drawer-container>
