<mat-tab-group (selectedIndexChange)="getSelected($event)">
  <mat-tab *ngFor="let category of categories;" label={{category}}>
  </mat-tab>
</mat-tab-group>

<mat-form-field class="searchBar">
  <span matPrefix><mat-icon>search</mat-icon></span>
  <input matInput placeholder="Search" (input)="search($event.target.value)"/>
</mat-form-field>
<div class="container" [@fadeIn] *ngIf="products$ | async; let products">
    <mat-card *ngFor="let product of products; let i = index;" >
      <mat-card-header (click)="goToPage('products', product.key)">
        <div mat-card-avatar></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
       <mat-card-subtitle>Posted by: {{product.owner.name}}</mat-card-subtitle>
      </mat-card-header>
      <img class="image" mat-card-image src="{{ product.image }}" alt="Photo of a Shiba Inu" (click)="goToPage('products', product.key)">
      <mat-card-content (click)="goToPage('products', product.key)">
        <p>
          {{product.description}}
        </p>
        
      </mat-card-content>
      <mat-card-actions>

        <button mat-button  [@fadeIn]   (click)="setAsFavorite(product.favorite, i)"><span *ngIf="product.favorite == true">EN FAVORITOS</span><span *ngIf="product.favorite != true">AGREGAR EN FAVORITOS</span></button>
      </mat-card-actions>
    </mat-card>
  </div>