/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/_theming.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  margin: 0 auto;
  height: 100% !important;
}

$alternate-primary: mat-palette($mat-indigo, 900);
$alternate-accent: mat-palette($mat-blue, 500);
$alternate-warn: mat-palette($mat-pink, 600);
$alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
@include angular-material-theme($alternate-theme);
