<mat-card class="form-container">
  <mat-card-title>Añade un nuevo producto</mat-card-title>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" id="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" id="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Categoría" formControlName="category" id="category" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Imagen" formControlName="image" id="image" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Precio" formControlName="price" id="price" />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Añadir producto</button>
  </form>
</mat-card>
