<mat-card class="form-container">
  <mat-card-title style="text-align: center">Write a post!</mat-card-title>
  <button class="imageButton" placeholder="Select an image" (click)="openGallery('ProfileImg')">
    <img mat-avatar  *ngIf="image === ''" src={{image}} class='profilePic'>
    <img mat-avatar *ngIf="image !== ''" [src]=image class='profilePic'>
  </button>
  <mat-progress-bar *ngIf="status == true" mode="indeterminate"></mat-progress-bar>
  <form [formGroup]="addForm">
    <p style="text-align: center;">To select an image click on the image box</p>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="name" id="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" id="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a tag</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let category of categories" value="{{category}}">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button style="background-color: #00C4CC; color: white; font-size: 20px;" (click)="onSubmit()">Post</button>
    <button *ngIf="update == true" mat-raised-button color='warn' (click)="delete()" style="font-size: 20px; margin-top: 30px;">Eliminar</button>
  </form>
  <input #fileUpload type="file" class="file_upload" accept="image/png, image/jpeg"
    (change)="addToDocument($event.target.files)" />
</mat-card>